### CMake template
CMakeLists.txt.user
CMakeLists.txt
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### Example user template template
*.exe
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

cmake-build-debug